 /* hero image start */
 .bgimage {
    width:100%;
    height:610px;
    background: url('../images/national-park/chobe--3.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size:cover;
    position: relative;
    margin-top:6rem;
  }
  .bgimage h4 {
    color:white;
    text-shadow:2px 2px #333;
  }
  .hero-content{
    position: absolute;
    text-align: center;
    top:46%;
    left: 37%;
  
  }
  .top-left {
  position: relative;
  top: 8px;
  left: 16px;
  background: #fff;
  color: #000;
  width: fit-content;
  padding: 10px 20px;
  }
  .top-left h4{
  text-shadow:2px 2px #333;
  }
  
  .chobe-page {
    font-weight: 900;
    font-size: 40px;
    letter-spacing: 5px;
  }
  
  /* hero image end */

  .season-head {
    font-size: 24px;
    color: rgb(85, 235, 55) !important;

  }

  .bullet1, .bullet2, .bullet3 {
    margin: 14px;
    border-radius: 50%;
    font-size: 16px;
    line-height: 45px;
    text-align: center;
    color: #fff;
    padding: 4px 6px;
  }

    .bullet1{
    background: #5f682e;
    }
    .bullet2{
    background: #979d70;
    }
    .bullet3{
    background: #6c4100;
    }

    .bannerimg{
    width:100%;
    height:42rem;
    background: url('../images/national-park/game-drive.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size:cover;
    position: relative;
    margin-top:2rem;

    }

    .bullet-green, .bullet-red,
    .bullet-grey, .bullet-yellow,
    .bullet-dark-red, .bullet-light-green {
      height: 14px;
      width: 14px;
      border-radius: 50%;
      display: inline-block;
      float: left;
      padding: 0px !important;
      margin: 5px !important;
      margin-left: -10px !important;
  }
  
  .bullet-green {
    background-color: green;  
  }

  .bullet-light-green {
    background-color: lightgreen;  
  }

  .bullet-dark-red {
    background-color: darkred;  
  }

  .bullet-red {
    background-color: red;  
  }

  .bullet-yellow {
    background-color: yellow;  
  }

  .bullet-grey {
    background-color: grey;  
  }


  .animal-status{
    width:fit-content;
  }
   
  p.animal a img {
      display: none;
      position: absolute;
      left:0px;
      top: 20px;
      transition: 3s ease-in-out;
  }
  p.animal a {
      display: inline-block;
      position: relative;
      margin-left:-100px;
      color:#fff;
      
  }
  p.animal a img {
      display: none;
  }
  p.animal a:hover img {
      display: inherit;
      border:5px solid rgb(228, 226, 226);
      border-radius: 10px;
      position: absolute;
      top: -200px;
      left:-82px;
      /* transition-delay: 1.8s; */
      
  }
  p.animal {
      margin-left: 100px;
  }
  
  /* Container holding the image and the text */
  .container-bg {
    position: relative;
    text-align: center;
    color: white;
  }
  
  /* Bottom left text */
  .bottom-left {
    position: absolute;
    bottom: 8px;
    left: 16px;
  }
  
  /* Top left text */
  .top-left {
    position: absolute;
    top: 8px;
    left: 16px;
  }
  
  /* Top right text */
  .top-right {
    position: absolute;
    top: 8px;
    right: 16px;
  }
  
  /* Bottom right text */
  .bottom-right {
    position: absolute;
    bottom: 8px;
    right: 16px;
  }
  
  /* Centered text */
  .centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .wildlife {
    padding-left: 50px;
    
  }
  
    